html {
  /* padding: 50px; */
  font-family: sans-serif;
}

/* html h1 {
  text-align: center;
}

html h2 {
  text-align: center;
  color: grey;
} */

#multiSlider {
  position: relative;
  border: 1px solid black;
  margin: 20px 0;
  border-radius: 5px;
}

@media (max-width: 767px) {
  #multiSlider {
    border-color: transparent;
  }
}

#multiSlider .MS-content {
  margin: 15px 5%;
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid red;
  
}

@media (max-width: 767px) {
  #multiSlider .MS-content {
    margin: 0;
  }
}

#multiSlider .MS-content .multi-slider-item {
  display: inline-block;
  height: 100%;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  border: 1px solid green;
  border-right: none;
  width: 20%;
}

@media (max-width: 1200px) {
  #multiSlider .MS-content .multi-slider-item {
    width: 25%;
  }
}

@media (max-width: 992px) {
  #multiSlider .MS-content .multi-slider-item {
    width: 33.3333%;
  }
}

@media (max-width: 767px) {
  #multiSlider .MS-content .multi-slider-item {
    width: 50%;
  }
}

#multiSlider .MS-content .multi-slider-item .multi-slider-text {
  font-size: 16px;
  text-align: center;
  line-height: 1;
  vertical-align: middle;
  margin: 0;
  padding: 10px 0;
  
}

#multiSlider .MS-controls .multi-slider-item .multi-slider-img {
 border: 2px solid rgb(0, 0, 0);
}

#multiSlider .MS-controls button {
  position: absolute;
  border: none;
  background: transparent;
  font-size: 30px;
  outline: 0;
  /* top: 35px; */
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width: 767px) {
  #multiSlider .MS-controls button {
    display: none;
  }
}

#multiSlider .MS-controls button:hover {
  cursor: pointer;
}

#multiSlider .MS-controls .MS-left {
  left: 10px;
  
}

@media (max-width: 992px) {
  #multiSlider .MS-controls .MS-left {
    left: -2px;
    
  }
}

#multiSlider .MS-controls .MS-right {
  right: 10px;
}

@media (max-width: 992px) {
  #multiSlider .MS-controls .MS-right {
    right: -2px;
    
  }
}
