.box {
    position: relative;
    margin: 50px 0px;
    text-align: center;
}

.dao-dien-link {
    text-decoration: none;
    color: aliceblue;
    display: block;
}

.dao-dien-link .dao-dien-text {
   vertical-align: middle;
}

.dao-dien-link:hover .dao-dien-text {
    animation-name: dao-dien-text-effect;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    color: #DCF836;
}

.dao-dien-link:hover .dao-dien-image .dao-dien-image-cover img {
    animation-name: dao-dien-image-effect;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.dao-dien-image .dao-dien-image-cover {
    width: 100%;
}

.dao-dien-image .dao-dien-image-cover img {
    /* float: left; */
    width:  200px;
    height: 200px;
    object-fit: cover;
}

.title-content {
    margin-top: 50px;
}

@keyframes dao-dien-image-effect {
    from {

    }
    to {
        transform: scale(1.1);
    }
}

@keyframes dao-dien-text-effect {
    from {

    }
    to {
        transform: translateY(40%);
    }
}