

#nav-bar{
    /* background-image: linear-gradient(to right,  #2A1B3D, #44318D); */
    background-color: rgba(0,0,0,0.8);
    
}

.nav-link:hover{
    background-color: #020D18;
    border-radius: 5px;
}

#nav-bar .nav-link {
    color: wheat;
}

.navbar-brand h6 {
    text-align: center;
    color: wheat;
}



 /* this is a black icon with 50% opacity */
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='wheat' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

}
 /* this is a white icon with 50% opacity */
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='wheat' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

}

.nav-item .dropdown-menu{
    background-color: rgb(245, 222, 178);
}

.nav-item .dropdown-menu a:hover{
    background-color: gray;
}

#wrapper {
    
    background-color: #020D18;
    
}

#header {
    padding: 0; 
}

#main {
    
}

.title-content {
    text-decoration: none;
    color: wheat;
    margin-top: 50px;
}



.container {
    padding: 10px 0;
}

.item {
    position: relative;
    margin: 50px 0px;
}

.item-link {
    text-decoration: none;
    color: aliceblue;
    
}

.item-link:hover {
    position: absolute;
    color: aliceblue;
    box-shadow: 10 10 0.6;

    animation-name: item-effect;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    
}

@keyframes box-text-effect {
    from {
        
    }
    to {
        transform: translateY(-20%);
    }
}

@keyframes box-img-effect {
    from {
        
    }
    to {
        transform: scale(1.08);
    }
}




.box {
    position: relative;
    margin: 50px 0px;
}

.box-link {
    text-decoration: none;
    color: aliceblue;
    display: block;
}



.box-link:hover .box-text {
    position: absolute;
    color: aliceblue;
    box-shadow: 10 10 0.6;

    animation-name: box-text-effect;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.box-link:hover .image-cover img {

    animation-name: box-img-effect;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.box-image .image-cover img {
    max-width: 100%;
    max-height: 100%;
}


.news-list {
    background-color: rgba(200, 200, 200, 0.4);
    list-style-type: none;
    padding: 0;
}



.news-link {
    text-decoration: none;
    color: black;
}

.news-link:hover {
    color: black;
}

.box-news {
    
    margin: 3px 0px; 
    
}

.box-news:hover {
    transform: translateX(10%);
    width: 90%;
}