

#nav-bar{
    /* background-image: linear-gradient(to right,  #2A1B3D, #44318D); */
    
    background-color: #020D18;
}

.nav-link:hover{
    background-color: #020D18;
    border-radius: 5px;
    
}

#nav-bar .nav-link {
    color: #ABB7C4;
}

#nav-bar .nav-link:hover {
    color: #DCF836;
}

.navbar-brand h6 {
    text-align: center;
    color: #abb7c4;
}


 /* this is a black icon with 50% opacity */
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(171, 183, 196)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

}
 /* this is a white icon with 50% opacity */
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(171, 183, 196)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

}

.nav-item .dropdown-menu{
    background-color: #ABB7C4;
}

.nav-item .dropdown-menu a:hover{
    background-color: #ABB7C4;
    color: #DCF836;
}

#wrapper {
    
    background-color: #020D18;
    
}

#header {
    padding: 0; 
}

#main {
    
}

.title-content {
    text-decoration: none;
    color: #ABB7C4;
    margin-top: 50px;
}

.title-content:hover {
    color: #DCF836;
}

.container {
    padding: 10px 0;
}

.item {
    position: relative;
    margin: 50px 0px;
}

.item-link {
    text-decoration: none;
    color: aliceblue;
    
}

.item-link:hover {
    position: absolute;
    color: aliceblue;
    box-shadow: 10 10 0.6;

    animation-name: item-effect;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    
}

@keyframes box-text-effect {
    from {
        
    }
    to {
        transform: translateY(-20%);
    }
}

@keyframes box-img-effect {
    from {
        
    }
    to {
        transform: scale(1.08);
    }
}

@keyframes box-news-effect {
    from {

    }
    to {
        transform: translateX(10%);
        width: 90%;
    }
}


.box {
    position: relative;
    margin: 50px 0px;
}

.box-link {
    text-decoration: none;
    color: aliceblue;
    display: block;
}



.box-link:hover .box-text {
    position: absolute;
    color: aliceblue;
    box-shadow: 10 10 0.6;

    animation-name: box-text-effect;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.box-link:hover .image-cover img {

    animation-name: box-img-effect;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.box-image .image-cover img {
    max-width: 100%;
    max-height: 100%;
}


.news-list {
    background-color: #020D18;
    list-style-type: none;
    padding: 0;
}



.news-link {
    text-decoration: none;
    color: white;
}

.news-link:hover {
    color: white;
}

.box-news {
    
    margin: 3px 0px; 
    
}

.box-news:hover {
    animation-name: box-news-effect;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.carousel-item .carousel-caption,
.figure .figure-text {
    font-size: 0;
    color: white;
}

.carousel-item:hover .carousel-caption {
    font-size: 20px;
    cursor: pointer;

    animation-name: carousel-effect;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    
}


.carousel-item:hover .carousel-img {
    filter: blur(10px);
}

@keyframes carousel-effect {
    from {

    }
    to {
        transform: translateY(-30%);
    }
}

.figure .figure-text {
    text-align: center;
}

form .btn-search {
    color: #ABB7C4;
    border: 1px solid #ABB7C4; 
}

.multi-slider-text {
    color: #ABB7C4;
}

.btn-search:hover {
    color:#DCF836;
}

#toTop {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    opacity: 0.1;
    border-radius: 10px;
    font-size: 50px;
}

#toTop:hover {
    opacity: 0.5;
}

.error404 {
    margin: 50px 0;
    color: #ABB7C4;
}