

#nav-bar{
    background-image: linear-gradient(to right,  #84fab0, #8fd3f4);
}

.nav-link:hover{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.nav-link {
    color: white;
}

body {
    background-color: pink;
}

#header {
    padding: 0;
}

#main {
    background-color: white;
}

.title-content {
    text-decoration: none;
    color: black;
    margin-top: 50px;
}

.container {
    padding: 10px 0;
}

.item {
    margin: 20px 0;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
